/*-------------- inicio variables ------------*/

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200;300;400;500;600&family=IBM+Plex+Sans:wght@100;200;300;400;500;600&display=swap');

/*--------backgrounds---------*/
$bg-gradient: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
$hover-gradient: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);

/*--------colors---------*/
$color-font: #060A24;
$color-button:  #00F3BB;
$color-title-background: #FFF;
$color-period: #0000EC;

/*--------fonts---------*/
$font-titles: 'IBM Plex Sans', sans-serif;
$font-paragraph: 'IBM Plex Mono', monospace;

/*-------------- fin variables ------------*/
